.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  outline-offset: 5px;

  button {
    background-color: red;
    max-width: 20%;
    color: white;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.504);
  backdrop-filter: var(--BackdropBlur);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 25px;
  position: absolute;
  z-index: 99999;
  min-height: 100vh;
  height: 100%;
  
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-self: center;

  form {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-grow: 1;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    
    // font-size: 1.3em;
    gap: 5px;
    animation: appear 0.3s;

    @keyframes appear {
      from {
        opacity: 0;
        scale: 0;
      }
      to {
        scale: 1;
        opacity: 1;
      }
    }

    h4 {
      margin: 0;

      text-decoration: underline;
      text-underline-offset: 2px;
    }

    .form-control {
      display: flex;
      flex-direction: column;
      input {
        height: 35px;
      }
    }

    button {
      height: 40px;
      width: 100%;
      border: transparent;
      border-radius: 5px;
      cursor: pointer;
      //   background-color: gray;
    }
  }
}

.new-link__modal {
  .add__new-link__btn {
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    padding: 0 var(--MiddleOfPagePadding);
    justify-content: center;
    form{
      max-width: 50%;
    }
  }
}
