.redirect-page__container {
  display: flex;
  height: 100vh;
  align-items: center;

  flex-direction: column;
  overflow: hidden;
  padding: 0;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    .error-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      
      img {
        max-height: 40px;
        max-width: 40px;
        object-fit: contain;
      }
      .error-message {
        font-weight: bold;
      }
    }
    .redirecting-message__loading {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      padding: 10px;
      height: 40%;
      max-height: 200px;
      width: 100%;
      border-radius: 25px;
      background-color: white;
      overflow: hidden;

      .loading-spinner {
        border: 5px solid white;
        border-top: 5px solid black;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        animation: spinner 1.5s infinite;
        margin: 10px;
      }

      .loading-message {
        font-weight: bold;
        animation: opacity 1.8s infinite;
      }

      @keyframes spinner {
        0% {
          transform: rotate(0deg);
          border-top-color: white;
        }
        50% {
          border-top-color: hsla(30, 84%, 58%, 1);
        }
        75% {
          border-top-color: hsla(14, 93%, 53%, 1);
        }
        100% {
          transform: rotate(360deg);
          border-top-color: white;
        }
      }

      @keyframes opacity {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
