.brand-banner__container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(90deg, hsla(354, 95%, 24%, 1) 0%, hsla(234, 70%, 24%, 1) 100%);
  border: none;
  margin: 5px;
  border-radius: 15px;

  h2 {
    color: white;
    align-self: center;
    margin: 0;
  }
}
