.brand-banner__container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, rgba(119, 3, 15, 0.36) 0%, rgb(18, 27, 104) 100%);
  border: none;
  margin: 5px;
  border-radius: 200px;


  backdrop-filter: var(--BackdropBlur);

  

  h2 {
    color: white;
    align-self: center;
    margin: 0;
  }
}
