<main class="main" [ngClass]="isModalOpen ? 'show-modal' : ''">
  <div class="top-controls">
    <button [routerLink]="['/user/' + username]" class="go-to-feed__btn">
      Ir al feed
    </button>
    <button class="close-section__btn" (click)="logout()">Cerrar sesion</button>
  </div>

  <!--Modal to add a new Link-->
  @if(newLinkModalTrigger){
  <app-new-link-modal
    [ngClass]="newLinkModalTrigger ? 'show-modal' : 'hide'"
    (closeModals)="closeAllModals(); getUserLinks()"
  ></app-new-link-modal>
  }

  <!--Modal to delete a Link-->
  @if(deleteLinkModalTrigger && selectedLinkIdToDelete ){
  <app-delete-link-modal
    [Link]="selectedLinkIdToDelete"
    (closeModals)="closeAllModals()"
  ></app-delete-link-modal>
  }

  <!--Profile card component-->
  <app-profile-card [username]="username"></app-profile-card>

  <!--Divider line-->
  <app-divider class="divider"></app-divider>

  <!--User's links-->
  <ul class="my-links__list">
    <h4 style="margin: 0; align-self: center; color: white">
      Administrar mis enlaces
      <strong>({{ userLinks && userLinks.length }})</strong>
    </h4>
    <button class="new-link__btn" (click)="openNewLinkModal()">
      Agregar nuevo link
    </button>
    @if(userLinks){ @for(link of userLinks;track link.id){
    <li>
      <div class="link-card">
        <div class="info">
          <div class="form-control shortUrl-div">
            <span
              ><a
                style="color: blue; text-decoration: underline;cursor: pointer;"
                (click)="goToUrl(link.shortUrl)"
              
                >{{ link.shortUrl }}</a
              ></span
            >
            <button (click)="copyUrl(link.shortUrl)" class="copy-url__btn">
              <span>Copiar</span
              ><img src="../../../../assets/icons/copy-icon.png" />
            </button>
          </div>
          <div class="form-control">
            <label for="">Titulo</label>
            <span
              ><strong>{{ link.urlTitle }}</strong></span
            >
          </div>

          <div class="form-control">
            <label for="">Url original:</label
            ><span class="long-url__link-span"> {{ link.longUrl }}</span>
          </div>
          <div class="counters">
            <div class="form-control">
              <label for="">Clicks</label
              ><span>{{ link.visitedTimes | number : ".0" }}</span>
            </div>

            <div class="form-control">
              <label for="">Ult. visita</label
              ><span>
                {{ link.lastTimeVisited | date : "d/M/yy hh:mm a" }}
              </span>
            </div>
          </div>
          <!-- <div class="form-control"><label for=""></label><span></span></div>
          <div class="form-control"><label for=""></label><span></span></div> -->
        </div>

        <div class="actions">
          <button class="delete-btn" (click)="openDeleteModal(link)">
            Eliminar
          </button>
          <button class="edit-btn">Editar</button>
        </div>
      </div>
    </li>

    <app-divider></app-divider>
    } }
  </ul>
</main>
